@import "tailwindcss";
html, body, #root {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overscroll-behavior-y: contain; 
      overscroll-behavior: none;
  }

  body {
    touch-action: pan-y; 
  }